APP_NAME=CAFW API
APP_ENV=dev
SECRET_KEY=ABHINAV_CAN_DO_ANYTHING
ACCESS_TOKEN_EXPIRE_MINUTES=60

MONGODB_URL=mongodb+srv://CAFW:FIREWALL_YES@cluster0.fgeh9yo.mongodb.net/
REDIS_URL="rediss://default:********@tops-vulture-85032.upstash.io:6379/

ADMIN_EMAIL=abhinav5911thakur@gmail.com
ADMIN_PASSWORD=Abhinav@1606

SMTP_HOST=abhinav5911thakur@gmail.com
SMTP_PORT=587
SMTP_USER=abhinav5911thakur@gmail.com
SMTP_PASS=tspx buub anmb hvzev
SMTP_FROM=abhinav5911thakur@gmail.com
SMTP_ENABLED=false
