APP_NAME=CAFW API
APP_ENV=dev
APP_SECRET_KEY=WE_ARE_ALL_TOGETHER_CAFW
ACCESS_TOKEN_EXPIRE_MINUTES=60

MONGODB_URL=mongodb://localhost:27017
MONGODB_DB_NAME=cafw
REDIS_URL=redis://localhost:6379/0

ADMIN_EMAIL=abhinav5911thakur@gmail.com
ADMIN_PASSWORD=Abhinav@1606

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhinav5911thakur@gmail.com
SMTP_PASS=
SMTP_FROM=abhinav5911thakur@gmail.com
SMTP_ENABLED=false
